{% extends "layout.twig" %}

{% block conteudo %}
    <div id="content" class="site-content">
        <div class="main-slider-wrap">
            <div class="main-slider">
                <div class="item">
                    <img src="web/images/slide1.jpg" alt="one"/>
                    <div class="slide-details clearfix">
                        <h3 class="title"><span>Novos lugares</span><span> TRWIP </span></h3>
                    </div>
                </div>
                <div class="item">
                    <img src="web/images/slide2.jpg" alt="one"/>
                    <div class="slide-details clearfix">
                        <h3 class="title"><span>Novas amizades</span><span> TRWIP </span></h3>
                    </div>
                </div>
                <div class="item">
                    <img src="web/images/slide3.jpg" alt="one"/>
                    <div class="slide-details clearfix">
                        <h3 class="title"><span>Novas experiências</span><span> TRWIP </span></h3>
                    </div>
                </div>
            </div>
        </div>
        <section class="home-services section-separator animatedParent">
            <div class="container">
                <header class="section-header header-with-nav clearfix">
                    <h3 class="title pull-left animated growIn slower">Travelling with people - TRWIP</h3>
                </header>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <article class="service-var-1 animated fadeInRightShort">
                            <div class="wrapper text-center clearfix">
                                <figure class="feature-img clearfix">
                                    <a class=" u-url u-photo" href="#"><img src="web/images/inicio1.jpg" alt="image"/></a>
                                    <span class="overlay"></span>
                                    <p>A Trwip é uma plataforma para conectar pessoas que buscam companhia para viagens.</p>
                                </figure>
                                <span class="icon-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-hospital-o"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="contents clearfix">
                                <h5 class="entry-title p-name">Quem somos</h5>
                                <a href="#" class="t-btn btn-red">Saiba mais</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <article class="service-var-1 animated fadeInUpShort">
                            <div class="wrapper text-center clearfix">
                                <figure class="feature-img clearfix">
                                    <a class=" u-url u-photo" href="#"><img src="web/images/inicio2.jpg" alt="image"/></a>
                                    <span class="overlay"></span>
                                    <p>Crie, busque, compartilhe viagens e experiências. Tudo num mesmo lugar​.</p>
                                </figure>
                                <span class="icon-wrapper">
                                    <span class="icon"><i class="fa fa-shield"></i></span>
                                </span>
                            </div>
                            <div class="contents clearfix">
                                <h5 class="entry-title p-name">Como funciona</h5>
                                <a href="#" class="t-btn btn-red">Conheça</a>
                            </div>
                        </div>
                    </article>
                    <div class="col-sm-4 col-xs-6">
                        <article class="service-var-1 animated fadeInLeftShort">
                            <div class="wrapper text-center clearfix">
                                <figure class="feature-img clearfix">
                                    <a class=" u-url u-photo" href="#"><img src="web/images/inicio3.jpg" alt="image"/></a>
                                    <span class="overlay"></span>
                                    <p>E aí, gostou? Então clique aqui e venha fazer parte desta comunidade.</p>
                                </figure>
                                <span class="icon-wrapper">
                                 <span class="icon">
                                     <i class="fa fa-money"></i></span>
                                 </span>
                             </div>
                             <div class="contents clearfix">
                                 <h5 class="entry-title p-name">Faça parte da comunidade</h5>
                                 <a href="#" class="t-btn btn-red">Entrar</a>
                             </div>
                         </article>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
</div><!-- .site-content -->
{% endblock %}
